<include href="views/header.html">
    <div class="container" id="container">
        <div class="row">
            <h1>Love Is...</h1>
        </div><br>
        <div class="row">
            <h2>Membership</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>State</th>
                    <th>Gender</th>
                    <th>Seeking</th>
                    <th>Premium</th>
                    <th>Interests</th>
                </tr>
                </thead>
                <tbody>
                <repeat group="{{ @members }}" value="{{ @member }}">
                    <tr>
                        <td>{{ @member['member_id'] }} </td>
                        <td>{{ @member['fname'] }} {{ @member['lname'] }}</td>
                        <td> {{ @member['age'] }}</td>
                        <td> {{ @member['phone'] }}</td>
                        <td>{{ @member['email'] }}</td>
                        <td>{{ @member['state'] }}</td>
                        <td> {{ @member['gender'] }}</td>
                        <td> {{ @member['seeking'] }}</td>
                        <td>
                            <check if="{{ @member['prem'] == '1' }}">
                                <true>
                                    <input type="checkbox" checked>
                                </true>
                                <false>
                                    <input type="checkbox">
                                </false>
                            </check>
                        </td>
                        <td>{{ @member['interests'] }}</td>
                    </tr>
                </repeat>
                </tbody>
            </table>
        </div>
    </div>


</body>
</html>