<!--/**-->
<!--* Alex Grigorenko-->
<!--* 1/20/20-->
<!--* /328/dating/views/header.html-->
<!--* Header for each page-->
<!--*/-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--StyleSheets-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">

    <title>Love Is...</title>

    <!-- navbar with links to the different pages -->
    <div class="topnav navbar-expand-sm sticky-top">
        <a href="https://agrigorenko.greenriverdev.com/328/dating/">Love Is...</a>
        <a href="https://agrigorenko.greenriverdev.com/328/dating/admin">Admin</a>
    </div>
</head>