<include href="views/header.html">

<body>

<!-- navbar with links to the different pages -->
<div class="topnav navbar-expand-sm sticky-top">
    <a href="https://agrigorenko.greenriverdev.com/328/dating/" target="_blank">Love Is...</a>
</div>

<div class ="w3-container" id="main">
    <form method="post" action="summary">
        <fieldset class="form-group">

            <div>
                <!--Header -->
                <h1>Interests</h1>
                <hr>
            </div>

            <!-- Interests -->
                <!-- in-door interest -->
            <a>In-door Interests</a>
            <div class="checkbox-grid">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="tv" id="roles1" name="roles[]">
                    <label class="custom-control-label" for="roles1">
                        tv
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="puzzles" id="roles2" name="roles[]">
                    <label class="custom-control-label" for="roles2">
                        puzzles
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="movies" id="roles3" name="roles[]">
                    <label class="custom-control-label" for="roles3">
                        movies
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="reading" id="roles4" name="roles[]">
                    <label class="custom-control-label" for="roles4">
                        reading
                    </label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="cooking" id="roles5" name="roles[]">
                    <label class="custom-control-label" for="roles5">
                        cooking
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="playing cards" id="roles6" name="roles[]">
                    <label class="custom-control-label" for="roles6">
                        playing cards
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="board games" id="roles7" name="roles[]">
                    <label class="custom-control-label" for="roles7">
                        board games
                    </label>
                </div>

                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="video games" id="roles8" name="roles[]">
                    <label class="custom-control-label" for="roles8">
                        video games
                    </label>
                </div>
            </div>

            <!-- out-door interest -->
            <br>
            <div class="checkbox-grid">
                <a>In-door Interests</a>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="tv" id="roles9" name="roles[]">
                    <label class="custom-control-label" for="roles9">
                        tv
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="puzzles" id="roles10" name="roles[]">
                    <label class="custom-control-label" for="roles10">
                        puzzles
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="movies" id="roles11" name="roles[]">
                    <label class="custom-control-label" for="roles11">
                        movies
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="reading" id="roles12" name="roles[]">
                    <label class="custom-control-label" for="roles12">
                        reading
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="cooking" id="roles13" name="roles[]">
                    <label class="custom-control-label" for="roles13">
                        cooking
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="playing cards" id="roles14" name="roles[]">
                    <label class="custom-control-label" for="roles14">
                        playing cards
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="board games" id="roles15" name="roles[]">
                    <label class="custom-control-label" for="roles15">
                        board games
                    </label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" value="video games" id="roles16" name="roles[]">
                    <label class="custom-control-label" for="roles16">
                        video games
                    </label>
                </div>
            </div>



            <button id="next" type="submit" class="btn btn-primary ">Next ></button>
        </fieldset>
    </form>
</div>

</body>
</html>