<!--/**-->
<!--* Alex Grigorenko-->
<!--* 1/16/20-->
<!--* /328/dating/views/interests.html-->
<!--* interests page (third page of the form)-->
<!--*/-->

<include href="views/header.html">

<body>

<div class ="w3-container" id="main">
    <form method="post" action="results">
        <fieldset class="form-group">

            <div>
                <!--Header -->
                <h1>Interests</h1>
                <hr>
            </div>

            <div class="row">
                <!-- In-door interests-->
                <div class="col mb-5 mt-4 ml-5">
                    <p><b>In-door Interests</b></p>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="tv" value="tv">
                        <label class="custom-control-label" for="tv">tv</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="puzzles" value="puzzles">
                        <label class="custom-control-label" for="puzzles">puzzles</label>
                    </div>
                </div>

                <div class="col mb-5 mt-4 ml-5">
                    <br><br>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="movies" value="movies">
                        <label class="custom-control-label" for="movies">movies</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="reading" value="reading">
                        <label class="custom-control-label" for="reading">reading</label>
                    </div>

                </div>

                <div class="col mb-5 mt-4 ml-5">
                    <br><br>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="cooking" value="cooking">
                        <label class="custom-control-label" for="cooking">cooking</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="playing cards" value="playing cards">
                        <label class="custom-control-label" for="playing cards">playing cards</label>
                    </div>

                </div>

                <div class="col mb-5 mt-4 ml-5">
                    <br><br>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="board games" value="board games">
                        <label class="custom-control-label" for="board games">board games</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="video games" value="video games">
                        <label class="custom-control-label" for="video games">video games</label>
                    </div>

                </div>
            </div>

            <div class="row">
                <!-- out-door interests -->
                <div class="col mb-5 ml-5">
                    <p class="font-weight-bold">Out-door Interests</p>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="hiking" value="hiking">
                        <label class="custom-control-label" for="hiking">hiking</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="walking" value="walking">
                        <label class="custom-control-label" for="walking">walking</label>
                    </div>

                </div>

                <div class="col mb-5 ml-5">
                    <br><br>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="biking" value="biking">
                        <label class="custom-control-label" for="biking">biking</label>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="climbing" value="climbing">
                        <label class="custom-control-label" for="climbing">climbing</label>
                    </div>

                </div>

                <div class="col mb-5 ml-5">
                    <br><br>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="swimming" value="swimming">
                        <label class="custom-control-label" for="swimming">swimming</label>
                    </div>
                </div>

                <div class="col mb-5 ml-5">
                    <br><br>
                    <div class="custom-control custom-checkbox">
                        <input class="custom-control-input" type="checkbox" name="roles[]" id="collecting" value="collecting">
                        <label class="custom-control-label" for="collecting">collecting</label>
                    </div>
                </div>

            </div>

            <button id="next" type="submit" class="btn btn-primary ">Next ></button>
        </fieldset>
    </form>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>