<!--/**-->
<!--* Alex Grigorenko-->
<!--* 1/20/20-->
<!--* /328/dating/views/personal.html-->
<!--* personal page(first page of form)-->
<!--*/-->


<include href="views/header.html">

<body>

<!-- navbar with links to the different pages -->
<div class="topnav navbar-expand-sm sticky-top">
    <a href="https://agrigorenko.greenriverdev.com/328/dating/" target="_blank">Love Is...</a>
</div>

<div class ="w3-container" id="main">
    <form method="post" action="#">
        <fieldset class="form-group">

            <div>
                <!--Header-->
                <h1>Personal Information</h1>
                <hr>
            </div>

            <div class="row">
                <!-- First Name | text box -->
                <div class="col mb-3 mt-5 ml-4">
                <div class="form-group">
                    <label><b>First Name</b></label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value=" {{@firstName }}">
                        <check if="{{ isset(@errors['firstName']) }}">
                            <span class="alert">{{ @errors['firstName'] }}</span>
                        </check>

                </div>

                <!-- Last Name | text box -->
                <div class="form-group">
                    <label><b>Last Name</b></label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{ @lastName}}">

                    <check if="{{ isset(@errors['lastName']) }}">
                        <span class="alert">{{ @errors['lastName'] }}</span>
                    </check>
                </div>

                <!-- Age | text box -->
                <div class="form-group">
                    <label for="age"><b>Age</b></label>
                    <input type="text" class="form-control" id="age" name="age" value="{{ @age }}">

                    <check if="{{ @errors['age'] }}">
                        <span class="alert">{{ @errors['age'] }}</span><br>
                    </check>
                </div>

                <!-- Gender -->
                <div class="form-group">
                    <div>

                        <label class="radio-inline"><b>Gender</b><span class="required">  </span><br>
                                <input type="radio" name="gender" value="Male"> Male<br>
                            </label>

                            <label>
                                <input type="radio" name="gender"  value="Female"> Female<br>
                            </label>

                        <!-- <span id="err-Gender" class="err"> Please make a selection</span>-->
                    </div>
                </div>

                <!-- Phone Number | text box -->
                <div class="form-group">
                    <label for="phone"><b>Phone Number</b></label>
                    <input type="text" class="form-control" id="phone" name="phone" value="{{ @phone }}">
                    <check if="{{ @errors['phone'] }}">
                        <span class="alert">{{ @errors['phone'] }}</span><br>
                    </check>
                </div>

                <div class="form-group">
                    <label><b>Premium Membership</b></label><br>
                    <input type="checkbox" name="prem" id="prem" value="{{ @premium }}"
                    <check if = "{{ @prem == @premium }}"> </check>
                    > Sign me up for a Premium Account!

                </div>



                </div>

                    <div class="col mt-4 d-flex align-items-end flex-column" role="alert">
                        <div class="alert alert-secondary m-5 mb-auto p-3" role="alert">
                            <p><strong>Note:</strong> All information entered is protected by our
                                <a href="#" class="card-link">privacy policy</a>. Profile information can only
                                be viewed by others with your permission.</p>
                        </div>

                        <!-- Button div -->
                        <div>
                            <input type="submit" class="btn btn-primary position-relative" value="Next >">
                        </div>
                    </div>
            </div>

        </fieldset>

    </form>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>