<include href="views/header.html">

<body>

<!-- navbar with links to the different pages -->
<div class="topnav navbar-expand-sm sticky-top">
    <a href="https://agrigorenko.greenriverdev.com/328/dating/" target="_blank">Love Is...</a>
</div>

<div class ="w3-container" id="main">
    <form method="get" action="profile">
        <fieldset class="form-group">

            <div>
                <!--Header and Web info-->
                <h1>Personal</h1>

            </div>

        </fieldset>
    </form>
</div>

</body>
</html>