<!--/**-->
<!--* Alex Grigorenko-->
<!--* 1/21/20-->
<!--* /328/dating/views/profile.html-->
<!--* profile page (second page of form)-->
<!--*/-->


<include href="views/header.html">

<body>

<!-- navbar with links to the different pages -->
<div class="topnav navbar-expand-sm sticky-top">
    <a href="https://agrigorenko.greenriverdev.com/328/dating/" target="_blank">Love Is...</a>
</div>

<div class ="w3-container" id="main">
    <form method="post" action="#">
        <fieldset class="form-group">

            <div>
                <!--Header-->
                <h1>Profile</h1>
                <hr>
            </div>

            <div class="row">

                <div class="col mb-3 mt-6 ml-4">
                    <!-- Email | text box -->
                        <label for="email"><b>Email</b></label>
                        <input type="text" class="form-control" id="email" name="email" value="{{ @email }}">

                    <br>
                        <check if="{{ @errors['email'] }}">
                            <span class="alert">{{ @errors['email'] }}</span><br>
                        </check>
                    <br>

                    <label><b>State</b><span class="required">  </span><br></label>
                        <select class="form-control" id="state" name="state">
                            <option value="none">Select State</option>
                            <repeat group="{{ @state }}" value="{{ @state }}">
                                <option value="{{ @state }}">{{ @state }}</option>
                            </repeat>
                        </select>

                    <br>
                    <!-- Seeking -->
                        <div>
                            <label class="radio-inline"><b>Seeking</b><span class="required">  </span><br>
                                <input type="radio" name="seeking" value="Male"> Male<br>
                            </label>

                            <label>
                                <input type="radio" name="seeking"  value="Female"> Female<br>
                            </label>
                            <!-- <span id="err-Gender" class="err"> Please make a selection</span>-->
                        </div>
                </div>



                <div class="col d-flex align-items-end flex-column">
                    <div class="form-group m-6 mb-auto">
                        <label class="font-weight-bold" for="bio">Biography</label>
                        <textarea class="form-control" id="bio" rows="4" cols="100" name="bio"></textarea>
                    </div>


                    <!-- Button div -->
                    <div>
                        <input type="submit" class="btn btn-primary" value="Next >">
                    </div>

                </div>

            </div>
        </fieldset>
    </form>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>